:root{
    --bgcolor: #121212;
    --empty-tile: #3a3a3c;
    --contains-tile: #b59f3b;
    --correct-tile: #538d4e;
}

body{
    background-color: #121212;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#gameContainer{
    width: 100%;
    height: 500px;
    display: grid;
    place-items: center;
}

.gameGrid{
    display: grid;
    grid-template-rows: repeat(6,auto);
    grid-template-columns: repeat(5,auto);
}

.charBox{
    display: grid;
    place-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid #7e460a;
    margin: 4px;
    color: azure;
}

.empty{
    background: var(--empty-tile);
}

.contains{
    background: var(--contains-tile);
}

.correct{
    background: var(--correct-tile);
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    flex: 1;
    text-align: right;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a{
    font-size: 17px;
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;
}

nav ul li a:hover{
    transform: translateY(-0.1%);
    text-shadow: 2px 2px #7e460a;
    color: white;
}

.key-container{
    margin-left: 32.55%;
    position: relative;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    width: 35px;
    height: 45px;
    margin: 3px;
    border-radius: 5px;
    background-color: #6d6d73;
    color: aliceblue;
}

.search-button{
  margin-left: 36.3%;
}

#text-label{
  position: relative;
  color: #7e460a;
}

#input-guess{
  color: #fff;
  background-color: transparent;
}

#check-button{
  width: 80px;
  height: 25px;
  background-color: #353535;
  cursor: pointer;
  color: aliceblue;
}

.items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
  }
  
  .button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 1;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
  }

  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }